@font-face {
    font-family: "patrickHand-Regular.ttf";
    src: url(../Tipografia/PatrickHand-Regular.ttf);
  }
  
  @font-face {
    font-family: "Cabin-italic";
    src: url(../Tipografia/Cabin-Italic-VariableFont_wdth\,wght.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: "cabin-variable";
    src: url(../Tipografia/Cabin-VariableFont_wdth\,wght.ttf);
    font-style: normal;
  }

h1,
h2,
h3,
li {
  font-family: "patrickHand-Regular.ttf";
  color: blueviolet;
}

p {
  font-family: "cabin-variable";
  text-align: center;
}


.classnav {
    background-color: blueviolet;
}